extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="img-nosotros") 
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fuga corporis dolore molestiae nihil quos qui dolores? Enim assumenda mollitia expedita nobis magni laboriosam rerum, veritatis quibusdam quasi a nesciunt!
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fuga corporis dolore molestiae nihil quos qui dolores? Enim assumenda mollitia expedita nobis magni laboriosam rerum, veritatis quibusdam quasi a nesciunt!                
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fuga corporis dolore molestiae nihil quos qui dolores? Enim assumenda mollitia expedita nobis magni laboriosam rerum, veritatis quibusdam quasi a nesciunt!

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_seguridad.svg", alt="icono-seguridad")
                    h2.mb-4 Seguridad
                    p Umenda mollitia expedita nobis magni laboriosam rerum, veritatis quibusdam 
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_destinos.svg", alt="icono-destinos")
                    h2.mb-4 Mejores Destinos
                    p Enim assumenda mollitia expedita nobis magni laboriosam rerum, veritatis qu
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_precios.svg", alt="icono-precios")
                    h2.mb-4 Los Mejores Precios
                    p Autem fuga corporis dolore molestiae nihil quos qui dolores? Enim assumenda

